<h3>{{viewTitle}}</h3>
<form action="/metier" method="post">
    <input type="hidden" name="_id" value="{{metier._id}}">
    <div class="form-group">
        <label>Nom du métier</label>
        <input type="text" class="form-control" name="jobName" placeholder="Nom métier" value="{{metier.jobName}}">
        <div class="text-danger">{{metier.jobNameError}}</div>
        <div class="form-group">
            <label>Numéro</label>
            <input type="text" class="form-control" name="codeNumber" placeholder="Numéro" value="{{metier.codeNumber}}">
            <div class="text-danger">{{metier.codeNumberError}}</div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Envoyer</button>
            <a class="btn btn-secondary" href="/metier/list"><i class="fa fa-list-alt"></i> Afficher liste</a>
        </div>
    </div>
</form>